@using LibsterFinalProj.Models.Entities;
@using LibsterFinalProj.Models; 
@using Microsoft.CodeAnalysis.Scripting
<!-- This will be pulled in by the Book List page page to display a modal for creation of custom lists
Source for modal set-up: https://getbootstrap.com/docs/5.3/components/modal/
--> 

<body> 


</body>
@section Scripts {

}