@using LibsterFinalProj.Models.Entities
@using LibsterFinalProj.Models 
@model BookDetailsVM; 
<!-- This will be pulled in by the Book Creation page to display a modal for creation at Book/Create
Source for modal set-up: https://getbootstrap.com/docs/5.3/components/modal/
--> 
<style> 
  button #btnForISBNLookup {
    padding:5px; 
  }

  .bi-plus-circle {
    align-items: right; 
  }
</style>

@functions {
  //Takes in enumValue - a value from the Genre enum 
  //Utilizes regex to split values and return them in a separated string 
  public static string SplitEnumText(string enumValue){ 
    return System.Text.RegularExpressions.Regex
      .Replace(enumValue, "([a-z])([A-Z])", "$1 $2"); 
    }
}


<body>
<div class="modal fade" id="createBookModal" tabindex="-1" aria-labelledby="createBookModalLabel"> 
  <div class="modal-dialog modal-lg"> 
    <div class="modal-content"> 
      <div class="modal-header"> 
        <h5 class="modal-title">Create Book</h5>
      </div>
      <div class="modal-body">
          <!--ISBN lookup section --> 
            <label for="ISBNLookup" class="form-label">Lookup Book by ISBN - *IN DEVELOPMENT*</label>
            <div class="input"> 
              <input type="text" id="ISBNLookup" class="form-control" placeholder="Enter an ISBN"> 
              <hr /> 
              <button class="btn btn-primary" id="btnForISBNLookup">Search!</>
            </div>
          <hr /> 
          <!-- Manual entry --> 
          <form id="createBookForm" method="post" action="/Book/create">
              <div class="mb-3"> 
              <p>OR manually enter a book below:</p>
                <label asp-for="Title" class="form-label">Title</label>
                <input asp-for="Title" type="text" id="bookTitle" class="form-control" name="Title" /> 
              </div>
              <div class="mb-3">
                <label class="form-label">Authors</label>
                <div id="addAuthorsContainerInput"> 
                  <input type="text" name="Authors[0].FullName" class="form-control addAuthor" placeholder="Author Name"/> 
                </div>
                 <button type="button" class="btn btn-primary bi-plus-circle" id="addAuthorButton">Add Author</button>
              </div>
              <div class="mb-3">
              <!--for genre--> 
                <label asp-for="Genre" class="form-label">Select Genre</label>
                <select asp-for="Genre" id="Genre" name="Genre" class="form-control">
                @foreach (Genre genre in Enum.GetValues(typeof(Genre)))
                {
                  <option value="@genre">@SplitEnumText(genre.ToString())</option>
                }
              </select>
              </div>
              <div class="mb-3">
                <label asp-for="PublicationYear" class="form-label">Publication Year</label>
                <input asp-for="PublicationYear" type="text" class="form-control" id="pubYear" name="PublicationYear" /> 
              </div>
              <div class="mb-3">
                <label asp-for="ISBN" class="form-label">ISBN</label>
                <input asp-for="ISBN" type="text" class="form-control" id="ISBNInput" name="ISBN" /> 
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
               <button type="button" class="btn btn-primary" id="saveBook">Add Book to Catalog</button>
              </div>
          </form>
      </div> 
    </div>
  </div>
</div>
</body>