@{
  ViewData[index: "Title"] = "Development Updates"; 
}

<!-- HTML Document for displaying future application updates to users--> 

<h3> 
Recent Changes: 
</h3>
<ol>
  <li>...</li>
  <li>Added custom fields to profile editing- you can update your first and last name on file as needed!</li>
  <li>Ability to change font size across website; can be modified on each page.</li>
</ol>

<h3>Future Additions:</h3>
  <ol>
    <li>Implement screen reader and audio output abilities for accessibility and quality of life.</li>
    <li>Implement ISBN searching for adding books to user's library.</li>
    <li>Implement user profile pictures across website.</li>
  </ol>

<h5>For the most up to date changes, and to see future plans that are not displayed here, view Libster on <a href="https://github.com/amadorel/Libster">GitHub</a></h5>