@{
  ViewData[index: "Title"] = "Development Updates"; 
}

<!-- HTML Document for displaying future application updates to users--> 

<h3> 
Recent Changes: 
<h5>TBA</h5>
</h3>

<h3>Future Additions:</h3>
  <ol>
    <li>Implement screen reader and audio output abilities for accessibility and quality of life.</li>
  </ol>


<h5>For the most up to date changes, and to see future plans that are not displayed here, view Libster on <a href="https://github.com/amadorel/Libster">GitHub</a></h5>