@{
  ViewData[index: "Title"] = "Development Updates"; 
}

<!-- HTML Document for displaying future application updates to users; convert this to a table--> 

<h3> 
Recent Changes: 
</h3>

<h3>
Future Additions: 
</h3>

<h5>For most up to date changes, view Libster's <a href="https://github.com/amadorel/Libster">GitHub repo</a></h5>