@{
  ViewData[index: "Title"] = "Create Books"; 
}

@if (!User.Identity?.IsAuthenticated ?? true) {
  <h1>Welcome to Libster! 📚</h1>
  <p>It looks like you are not currently logged in! 
      Please <a asp-area="Identity" asp-page="/Account/Register">register</a> for an account or <a asp-area="Identity" asp-page="/Account/Login"> login</a> to get started with 
  </p>
} else { <!-- Continue below with logic to view user booklists -->
  
}